.threads {
  text-align: center;
}

.thread__ul {
  text-align: left;
  list-style: noen;
  display: inline-block;
  padding-left: 0;
}

.thread__li {
  list-style: none;
  border: 1px solid #8a8a8a;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  width: 20em;
}

.thread__head {
  font-size: 2em;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
}
